[submodule "pack/vendor_fjp/start/mru"]
	path = pack/vendor_fjp/start/mru
	url = https://gitee.com/qiuye_dlmu/mru
[submodule "pack/vendor_fjp/start/nerdtree"]
	path = pack/vendor_fjp/start/nerdtree
	url = https://gitee.com/qiuye_dlmu/nerdtree
[submodule "pack/vendor_fjp/start/nerdtree-git-plugin"]
	path = pack/vendor_fjp/start/nerdtree-git-plugin
	url = https://gitee.com/qiuye_dlmu/nerdtree-git-plugin
[submodule "pack/vendor_fjp/start/tagbar"]
	path = pack/vendor_fjp/start/tagbar
	url = https://gitee.com/qiuye_dlmu/tagbar
[submodule "pack/vendor_fjp/start/fzf"]
	path = pack/vendor_fjp/start/fzf
	url = https://gitee.com/qiuye_dlmu/fzf
[submodule "pack/vendor_fjp/start/vim-commentary"]
	path = pack/vendor_fjp/start/vim-commentary
	url = https://gitee.com/qiuye_dlmu/vim-commentary
[submodule "pack/vendor_fjp/start/indentLine"]
	path = pack/vendor_fjp/start/indentLine
	url = https://gitee.com/qiuye_dlmu/indentLine
[submodule "pack/vendor_fjp/start/a.vim"]
	path = pack/vendor_fjp/start/a.vim
	url = https://gitee.com/qiuye_dlmu/a.vim
[submodule "pack/vendor_fjp/start/syntastic"]
	path = pack/vendor_fjp/start/syntastic
	url = https://gitee.com/qiuye_dlmu/syntastic
[submodule "pack/vendor_fjp/start/ack.vim"]
	path = pack/vendor_fjp/start/ack.vim
	url = https://gitee.com/qiuye_dlmu/ack.vim
[submodule "pack/vendor_fjp/start/vim-airline"]
	path = pack/vendor_fjp/start/vim-airline
	url = https://gitee.com/qiuye_dlmu/vim-airline
[submodule "pack/vendor_fjp/start/tabular"]
	path = pack/vendor_fjp/start/tabular
	url = https://gitee.com/qiuye_dlmu/tabular
[submodule "pack/vendor_fjp/start/vim-markdown"]
	path = pack/vendor_fjp/start/vim-markdown
	url = https://gitee.com/qiuye_dlmu/vim-markdown
[submodule "pack/vendor_fjp/start/vim-go"]
	path = pack/vendor_fjp/start/vim-go
	url = https://gitee.com/qiuye_dlmu/vim-go
[submodule "pack/vendor_fjp/start/nvim-colorizer.lua"]
	path = pack/vendor_fjp/start/nvim-colorizer.lua
	url = https://gitee.com/qiuye_dlmu/nvim-colorizer.lua
[submodule "pack/vendor_fjp/start/vim-airline-themes"]
	path = pack/vendor_fjp/start/vim-airline-themes
	url = https://gitee.com/qiuye_dlmu/vim-airline-themes
[submodule "pack/vendor_fjp/start/vim-cpp-enhanced-highlight"]
	path = pack/vendor_fjp/start/vim-cpp-enhanced-highlight
	url = https://gitee.com/qiuye_dlmu/vim-cpp-enhanced-highlight
[submodule "pack/vendor_fjp/start/vim-colorschemes"]
	path = pack/vendor_fjp/start/vim-colorschemes
	url = https://gitee.com/qiuye_dlmu/vim-colorschemes/
[submodule "pack/vendor_fjp/start/vim-gutentags"]
	path = pack/vendor_fjp/start/vim-gutentags
	url = https://gitee.com/qiuye_dlmu/vim-gutentags
[submodule "pack/vendor_fjp/start/asyncrun.vim"]
	path = pack/vendor_fjp/start/asyncrun.vim
	url = https://gitee.com/qiuye_dlmu/asyncrun.vim
[submodule "pack/vendor_fjp/start/asynctasks.vim"]
	path = pack/vendor_fjp/start/asynctasks.vim
	url = https://gitee.com/qiuye_dlmu/asynctasks.vim
[submodule "pack/vendor_fjp/start/copilot.vim"]
	path = pack/vendor_fjp/start/copilot.vim
	url = https://gitee.com/qiuye_dlmu/copilot.vim
[submodule "pack/vendor_fjp/start/git-blame.vim"]
	path = pack/vendor_fjp/start/git-blame.vim
	url = https://gitee.com/qiuye_dlmu/git-blame.vim
[submodule "pack/vendor_fjp/start/change-colorscheme"]
	path = pack/vendor_fjp/start/change-colorscheme
	url = https://gitee.com/qiuye_dlmu/change-colorscheme
[submodule "pack/vendor_fjp/start/vim-trailing-whitespace"]
	path = pack/vendor_fjp/start/vim-trailing-whitespace
	url = https://gitee.com/mirrors_bronson/vim-trailing-whitespace
[submodule "pack/vendor_fjp/start/vim-gitgutter"]
	path = pack/vendor_fjp/start/vim-gitgutter
	url = https://gitee.com/qiuye_dlmu/vim-gitgutter
[submodule "pack/vendor_fjp/start/vim-snippets"]
	path = pack/vendor_fjp/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "pack/vendor_fjp/start/vim-terminal-help"]
	path = pack/vendor_fjp/start/vim-terminal-help
	url = https://gitee.com/qiuye_dlmu/vim-terminal-help
[submodule "pack/vendor_fjp/start/splitjoin"]
	path = pack/vendor_fjp/start/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule "pack/vendor_fjp/start/vim-devicons"]
	path = pack/vendor_fjp/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
